@CHARSET "UTF-8";


.unicloud-table .z-row-content {
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-row-content .major {
	background-color: rgba(255, 255, 0, .65);
	color: rgb(0, 0, 0);
	font-style: bold;
}

.unicloud-table .z-row-content .minor {
	background-color: rgba(255, 0, 255, .65);
	color: rgb(0, 0, 0);
	font-style: bold;
}

.unicloud-table .z-label {
	font-size: 12px;
}
.unicloud-table .z-column-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-listheader-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-listcell-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.critical .z-row-content {
	background-color: rgba(255,0,0,.65);
	color: rgb(0, 0, 0);
	font-style: bold;
}

.major .z-row-content {
	background-color: rgba(255, 102, 0, .65);
	color: rgb(0, 0, 0);
	font-style: bold;
}

.minor .z-row-content {
	background-color: rgba(253, 255, 120, .65);
	color: rgb(0, 0, 0);
	font-style: bold;
}

.critical .z-listitem {
	background-color: rgba(255,0,0,.65);
	color: rgb(255,255,255);
	font-style: bold;
}

.major .z-listitem {
	background-color: rgba(255, 102, 0, .65);
	color: rgb(0, 0, 0);
	font-style: bold;
}

.minor .z-listitem {
	background-color: rgba(253, 255, 120, .65);
	color: rgb(0, 0, 0);
	font-style: bold;
}
.unicloud-table .z-auxheader-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-detail-icon {
	font-size: 11px;
}

