@CHARSET "UTF-8";

.unicloud-table .z-row-content {
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-label {
	font-size: 12px;
}
.unicloud-table .z-column-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-listheader-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-listcell-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-auxheader-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-detail-icon {
	font-size: 11px;
}
