@CHARSET "UTF-8";

.z-a-disd {
	color: #C5CACB !important;
	cursor: default !important;
	text-decoration: none !important;
}

.z-a-disd:visited {
	text-decoration: none !important;
	cursor: default !important;
	border-color: #D0DEF0 !important; 
}

.z-a-disd:hover {
	text-decoration: underline !important;
}