@CHARSET "UTF-8";


.unicloud-table .z-row-content {
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-row-content .major {
	color: rgb(255, 255, 0);
	font-weight: bold;
}

.unicloud-table .z-row-content .minor {
	color: rgb(255, 0, 255);
	font-weight: bold;
}

.unicloud-table .z-label {
	font-size: 12px;
}
.unicloud-table .z-column-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-listheader-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-listcell-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.critical .z-row-content {
	color: rgb(255, 0, 0);
	font-weight: bold;
}

.major .z-row-content {
	color: rgb(255, 102, 0);
	font-weight: bold;
}

.minor .z-row-content {
	color: rgb(253, 255, 120);
	font-weight: bold;
}

.critical .z-listitem {
	color: rgb(255,0,0);
	font-weight: bold;
}

.major .z-listitem {
	color: rgb(255, 102, 0);
	font-weight: bold;
}

.minor .z-listitem {
	color: rgb(253, 255, 120);
	font-weight: bold;
}
.unicloud-table .z-auxheader-content {
	font-size: 12px;
	padding: 4px 4px;
	line-height: 18px;
}

.unicloud-table .z-detail-icon {
	font-size: 11px;
}

